.app{
    text-align: center;
    font-family: Georgia;
    font-size: 40px;
   margin: auto;
   
}

.Characters img {
    width: 200px;
    height: 300px;
}
.Characters{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.Item{
    font-family: sans-serif;
}